# Python
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.pytest_cache/
.coverage

# Rust / Cargo
target/
**/*.rs.bk

# ML artifacts
fraud_model.pkl
shap_explainer.pkl

# Data Files & Reports
*.csv
*.dat

# Env files
.env
.env.*
.envrc

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Logs
*.log

# Docker
*.tar
docker-compose.override.yml

# Databases & Brokers
dump.rdb
*.rdb
redpanda_data/

# Monitoring volumes
prometheus_data/
grafana_data/

# Jupyter
.ipynb_checkpoints/